<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles/main.css') }}" />
</head>

<body>
    <div class="app-container">
        <div class="inner-content">
            <h1>Rollin' API</h1>
            <h3>A Brazilian Jiujitsu academy API reference</h3>

            <div class="form-container">
                <p>Enter your email to generate an API key</p>
                <form id="form" method="post" action="/">
                    <input type="text" name="email" placeholder="email" class="email-field" />
                    <button type="submit">submit</button>
                </form>
                <span class="validation-message"></span>
            </div>

            <div class="result">
                {% if user_key %}
                <p>{{message}}<code>{{user_key}}</code></p>
                {% else %}
                <p>{{message}}</p>
                {% endif %}
            </div>
        </div>
        {% include "menu.jinja" %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', path='/js/index.js') }}"></script>
</body>

</html>