<div class="menu">
    <h2>Docs</h2>
    <div>
        <ul class="navigation-menu">
            <h3>About</h3>
            <p>Rollin' API is a WIP BJJ academy resource.</p>
            <p>It aims to be a complete data collection of BJJ / grappling academies within the US and internationally.
            </p>
            <p><a href="https://github.com/alfajor/rollin-api" target="_blank" rel="nofollow">Contributions</a> are
                welcome - specifically in aggregating academy data for inclusion in the API.</p>

            <br />

            <h3>Access</h3>
            <li>Enter an email to generate an API key.</li>
            <li>API can be accessed at <a href="/api/v1/academies">Rollin API</a></li>
            <li>Provide your API key as a URL parameter.
                <br />
                <code>/?api_key=YOUR_API_KEY</code>
            </li>

        </ul>
    </div>
</div>